@use '../../styles/colors';
@use '../../styles/layout';

.successStories {
  margin-top: 32px;

  .successStoriesContent {
    max-width: 1365px;
    margin: auto;
    padding: 100px 32px;

    h1 {
      font: normal normal bold 44px/57px 'Roboto', sans-serif;
      text-align: center;
      margin-bottom: 32px;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 32px;

      img {
        flex: 0 1 260px;
        width: 260px;
        height: 160px;
        margin: 16px;
        object-fit: contain;
        object-position: center;
      }
    }

    :global(.slick-slider) {
      position: relative;
      overflow: hidden;

      :global(.slick-slide) {
        height: inherit !important;
        pointer-events: none;

        > div {
          height: 100%;
        }
      }

      :global(.slick-track) {
        display: flex !important;
      }

      :global(.slick-arrow) {
        position: absolute;
        top: 50%;
        z-index: 9;
        width: 32px;
        font-size: 0;
        background: #0000;
        border: unset;

        &:global(.slick-prev)::before,
        &:global(.slick-next)::after {
          display: flex;
          align-items: center;
          margin-top: 3px;
          margin-left: 10px;
          color: colors.$grey;
          font: var(--fa-font-solid);
          font-weight: 900;
          font-size: 14px;
          text-align: right;
        }

        &:global(.slick-prev)::before {
          content: '\f053';
        }

        &:global(.slick-next) {
          right: 0;

          &::after {
            content: '\f054';
          }
        }
      }
    }
  }

  .storyWrapper {
    height: 100%;
    padding: 0 30px;

    .story {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 30px 50px;
      background-color: colors.$greyLight2;
      border-radius: 20px;

      img {
        width: 100px;
        height: 100px;
        margin: 0 auto 16px;
        object-fit: contain;
        object-position: center;
        border-radius: 100%;
      }

      .name {
        font: normal normal bold 20px/27px 'Roboto', sans-serif;
        text-align: center;
      }

      .review {
        margin-top: 32px;
        font: normal normal normal 16px/24px 'Roboto', sans-serif;
      }
    }
  }
}
