@use '../../styles/colors';
@use '../../styles/layout';

.provenWay {
  margin-top: 32px;

  .provenWayContent {
    display: flex;
    max-width: 1315px;
    margin: auto;
    padding: 100px 32px;

    @media screen and (max-width: layout.$md) {
      flex-direction: column-reverse;
    }

    .awards {
      display: flex;
      flex: 1 1 50%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: layout.$md) {
        grid-gap: unset;
        justify-content: space-evenly;
      }

      img {
        max-width: 170px;
        max-height: 170px;
        object-fit: contain;
        margin: 8px;
      }
    }

    .copy {
      display: flex;
      flex: 0 0 50%;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin-bottom: 32px;
        font: normal normal bold 44px/57px 'Roboto', sans-serif;
      }

      p {
        font: normal normal normal 16px/24px 'Roboto', sans-serif;
      }
    }
  }
}
