@use '../../styles/colors';
@use '../../styles/layout';

.products {
  background-color: colors.$greyLight2;
  padding-top: 32px;

  > h1 {
    font: normal normal bold 44px/57px 'Roboto', sans-serif;
    text-align: center;
  }

  p {
    font: normal normal normal 16px/24px 'Roboto', sans-serif;
  }
}
