@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.aboutBanner {
  .aboutBannerContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 1265px;
    margin: auto;
    padding: 50px 32px;

    &.flipped {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: layout.$md) {
      flex-direction: column;
    }

    .column {
      flex: 50% 0 0;

      @media screen and (max-width: layout.$md) {
        flex: 100% 0 0;
      }
    }

    h1 {
      font: normal normal bold 44px/57px 'Roboto', sans-serif;
    }

    p {
      font: normal normal normal 16px/24px 'Roboto', sans-serif;
    }

    .images {
      position: relative;
      height: 500px;
      margin: 32px;

      @media screen and (max-width: layout.$sm) {
        height: 300px;
        margin: 32px 0;
      }

      img {
        position: absolute;
        display: none;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 30px;

        @media screen and (max-width: layout.$sm) {
          width: 200px;
          height: 200px;
        }
      }

      img:nth-of-type(1) {
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
      }

      img:nth-of-type(2) {
        bottom: 0;
        left: 25%;
        z-index: 3;
        display: block;
      }

      img:nth-of-type(3) {
        top: 5%;
        right: 0;
        z-index: 2;
        display: block;
      }
    }
  }

  .cta {
    display: flex;
    justify-content: flex-end;

    a {
      @include mixins.arrowTextButton();
    }
  }
}
