@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1279px;
  min-height: calc(100vh - #{layout.$navSize});
  margin: auto;
  padding: 0 32px;

  h1 {
    font: normal normal 66px/57px 'Roboto', sans-serif;
  }
}
