@use './colors';
@use './layout';

@mixin blackButton() {
  padding: 13px 28px;
  color: colors.$white;
  font: normal normal normal 20px/27px 'Roboto', sans-serif;
  text-align: center;
  background-color: colors.$black;
  border: 1px solid colors.$black;
  border-radius: 32px;
  transition: all 250ms ease-in-out;

  &:hover {
    color: colors.$black;
    text-decoration: none;
    background: colors.$white;
  }
}
