@use '../../styles/colors';
@use '../../styles/layout';

.partnerships {
  margin-top: 32px;

  .partnershipContent {
    max-width: 1370px;
    margin: auto;
    padding: 100px 32px;

    h1 {
      margin-bottom: 64px;
      font: normal normal bold 44px/57px 'Roboto', sans-serif;
      text-align: center;
    }

    .partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .partner {
        position: relative;
        display: flex;
        flex: 1 1 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        text-decoration: none;

        @media screen and (max-width: layout.$md) {
          flex: 1 1 50%;
        }

        @media screen and (max-width: layout.$sm) {
          flex: 1 1 100%;
        }

        .icon {
          width: 100%;
          max-width: 262px;
          max-height: 195px;
          margin: 0 auto 40px;
          padding: 16px;
          object-fit: contain;
          object-position: center;
          filter: grayscale(100%);
          transition: filter 250ms ease-in-out;
        }

        .text {
          color: colors.$black;
          font: normal normal bold 20px/27px 'Roboto', sans-serif;
          text-align: center;
          text-decoration: none;
        }

        &:hover {
          .icon {
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
