@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.contactForm {
  background-color: colors.$greyLight2;

  .content {
    max-width: 680px;
    margin: auto;
    padding: 100px 32px;

    h1 {
      margin-bottom: 50px;
      font: normal normal bold 44px/57px 'Roboto', sans-serif;
      letter-spacing: -0.09px;
      text-align: center;
    }

    .button {
      @include mixins.blackButton();
      width: 100%;
    }
  }
}
