@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.navbar {
  position: sticky;
  top: 0;
  z-index: layout.$navZIndex;
  margin: auto;
  padding: 40px 32px;
  background-color: colors.$greyLighter2;

  .navContainer {
    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: layout.$maxWidth;
    margin: auto;
  }
}

.mobile {
  display: none;
  @media screen and (max-width: layout.$md) {
    display: flex;
  }

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
