@use '../../styles/colors';
@use '../../styles/layout';


.collabColumns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1500px;
  margin: 0 auto;

  @media screen and (min-width: layout.$sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: layout.$md) {
    grid-template-columns: repeat(4, 1fr);
  }


  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        width: 140px;
        height: 90px;
        margin-bottom: 35px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom;
        }
      }

      .text {
        max-width: 18ch;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
      }
    }
  }
}
