@use '../../styles/colors';
@use '../../styles/layout';

.footer {
  padding: 64px 32px 32px;
  color: colors.$white;
  background-color: colors.$greyDark;

  .footerWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: layout.$maxWidth;
    margin: auto;
  }

  .content {
    flex: 0 0 50%;

    @media screen and (max-width: layout.$md) {
      flex: 1 1 100%;
    }
  }

  .follow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 32px;
    font: normal normal normal 16px/24px 'Roboto', sans-serif;

    .social {
      display: flex;
      align-items: center;
      margin-left: 6px;

      a {
        margin: 0 6px;

        &:first-of-type {
          margin-left: 6px;
        }

        @media screen and (max-width: layout.$xs) {
          margin-top: 8px;

          &:first-of-type {
            margin-left: -3px;
          }
        }

        &:hover {
          color: colors.$greyLight;
        }

        i::before {
          width: 28px;
          height: 28px;
          color: colors.$white;
          font-size: 28px;
        }
      }
    }
  }

  .logo {
    img {
      width: 140px;
      margin-bottom: 32px;
      object-fit: contain;
      filter: #{'invert()'};
    }
  }

  .founded {
    color: colors.$white;
    font: normal normal normal 14px/18px 'Roboto', sans-serif;
    text-decoration: none;
  }

  .footerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media screen and (max-width: layout.$md) {
      margin-top: 48px;
    }

    .navItem {
      flex: 0 0 max-content;
      margin-right: 48px;

      @media screen and (max-width: layout.$md) {
        flex: 1 1 100%;
      }

      h2 {
        margin-top: 8px;
      }

      .divider {
        width: 100%;
        height: 2px;
        background-color: colors.$white;
      }

      .links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;

        .column {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;

          @media screen and (max-width: layout.$xs) {
            flex: 1 1 100%;

            &:not(:first-of-type) {
              margin-top: 8px;
            }
          }

          &:first-of-type {
            margin-right: 32px;
          }

          a,
          h3 {
            margin-bottom: 8px;
            color: colors.$white;
            font: normal normal normal 14px/18px 'Roboto', sans-serif;
            text-decoration: none;
            transition: opacity 100ms ease-in-out;

            &:hover {
              opacity: 0.8;
            }
          }

          h3 {
            font-weight: 600;
          }
        }
      }
    }
  }

  .legalLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: max(50%, 575px);
    max-width: 750px;
    margin-top: 48px;
    margin-left: 50%;

    @media screen and (max-width: layout.$md) {
      margin-left: auto;
    }

    a,
    h3 {
      color: colors.$white;
      font: normal normal normal 16px/24px 'Roboto', sans-serif;
      text-decoration: none;

      @media screen and (max-width: layout.$xs) {
        flex: 1 1 100%;
      }
    }
  }
}
