@use '../../styles/colors';
@use '../../styles/layout';

.footer {
  padding: 64px 32px 32px;
  color: colors.$white;
  background-color: colors.$greyDark;

  .footerWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: layout.$maxWidth;
    margin: auto;
  }

  .content {
    flex: 0 0 50%;

    @media screen and (max-width: layout.$md) {
      flex: 1 1 100%;
    }
  }

  .logo {
    img {
      width: 140px;
      height: 35px;
      margin-bottom: 32px;
      object-fit: contain;
    }
  }
}
