@use '../../../styles/colors';
@use '../../../styles/layout';

.contactUsWrapper {
  min-height: 75vh;
  background-color: colors.$greyLight2;

  .content {
    display: flex;
    max-width: 1230px;
    margin: auto;
    padding: 100px 32px;

    .contact,
    .form {
      flex: 1 1 auto;

      h1 {
        font: normal normal bold 44px/57px 'Roboto', sans-serif;
      }

      p {
        font: normal normal normal 20px/27px Roboto;
      }
    }

    .form {
      flex: 0 1 663px;
    }
  }
}
