@use '../../styles/colors';
@use '../../styles/layout';

.countdowns {
  > div:nth-of-type(2n) {
    background: colors.$white;

    > div {
      flex-direction: row-reverse;

      @media screen and (max-width: layout.$md) {
        flex-direction: column;
      }
    }
  }
}
