@use '../../../styles/colors';
@use '../../../styles/layout';
@use '../../../styles/mixins';

.contactForm {
  .customInput,
  button {
    min-height: 73px;
  }

  .split {
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: layout.$md) {
      grid-template-columns: 1fr;
    }

    .customInput {
      min-width: 0;
    }
  }

  .customInput {
    @include mixins.customInput();
  }

  button {
    @include mixins.blackButton();

    width: 100%;
    border: 3px solid colors.$black;
    border-radius: 15px;
  }

  .alert {
    margin-top: 16px;
    font: normal normal normal 21px/26px 'Roboto', sans-serif;
  }
}
