@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.enquiry {
  .customInput {
    @include mixins.customInput();
  }

  .optionsContainer {
    ul {
      display: grid;
      grid-column-gap: 24px;
      grid-template-columns: repeat(2, 1fr);
      padding: unset;
      list-style: none;

      @media screen and (max-width: layout.$md) {
        grid-template-columns: 1fr;
      }

      li {
        min-width: 0;
        margin-bottom: 8px;

        label {
          @include mixins.customInput();
          margin-bottom: unset;
          padding: unset;
          overflow: hidden;
          border: unset;
          cursor: pointer;

          input {
            display: none;
          }

          span {
            padding: 8px 23px 10px;
            font-size: 21px;


            &::before {
              display: inline-block;
              width: 21px;
              margin-right: 10px;
              font: var(--fa-font-regular);
              content: '\f0c8';
            }
          }

          :checked + span {
            &::before {
              margin-right: 10px;
              content: '\f14a';
            }
          }
        }
      }
    }
  }

  button {
    @include mixins.blackButton();

    width: 100%;
  }
}
