@use '../../styles/colors';
@use '../../styles/layout';

.ethos {
  margin-top: 32px;
  background-color: colors.$greyLight2;

  .ethosContent {
    padding: 40px 32px 80px;

    .copy {
      max-width: 675px;
      margin: auto;
      text-align: center;

      h1 {
        margin-bottom: 32px;
        font: normal normal bold 44px/57px 'Roboto', sans-serif;
      }

      p {
        font: normal normal normal 16px/24px 'Roboto', sans-serif;
      }
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1640px;
      margin: auto;

      .card {
        display: flex;
        flex: 1 1 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        margin: 16px;
        padding: 32px;
        background: colors.$greyLighter2;
        border: 2px solid colors.$greyDark;
        border-radius: 15px;

        @media screen and (max-width: layout.$lg) {
          flex: 1 1 50%;
        }

        @media screen and (max-width: layout.$md) {
          flex: 1 1 100%;
        }

        img {
          max-height: 75px;
          margin-bottom: 24px;
          object-fit: contain;
        }

        .label {
          font: normal normal 600 20px/27px 'Roboto', sans-serif;
        }
      }
    }
  }
}
